In [99]:
import numpy as np
import pandas as pd


from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

from wordcloud import WordCloud

In [104]:
pip freeze   # optional: this is to check current installed package
pip install plotly --upgrade   # this to update plotly to latest version, at the time of this post: 4.5.4
pip install plotly   # might be unnecessary, but I did this
import plotly.express as xp   # now it works

SyntaxError: invalid syntax (<ipython-input-104-771020b1f46d>, line 1)

In [106]:
import plotly.express as px

ImportError: cannot import name 'qualitative' from 'plotly.colors' (/Applications/anaconda3/lib/python3.8/site-packages/plotly/colors.py)

### pd.set_option('display.max_rows', 50)

In [7]:
df_da_or = pd.read_csv('info_data_analyst_clean.csv')
df_ds_or = pd.read_csv('info_data_scientist_clean.csv')

In [8]:
df_da = df_da_or.copy()
df_ds = df_ds_or.copy()

In [9]:
df_da.drop(columns = 'Unnamed: 0', inplace=True)
df_ds.drop(columns = 'Unnamed: 0', inplace=True)

In [10]:
df_da.head(1)

,Nombre empresa,Puesto ofertado,Ubicación,Días activos,Nº Solicitudes,Nivel experiencia,Sector,Tipo jornada,Funciones laborales,Descripción
0,Amazon,Junior Data Analyst,Barcelona,6 horas,66,Sin experiencia,Software Servicios y tecnologías de la informa...,Jornada completa,Estrategia/planificación Análisis Tecnología d...,Description\n\nJunior Data Analyst\nWe are hir...

### Concatenar los dos DF creando columna para agrupar por tipo.

In [11]:
df_da['Tipo puesto'] = pd.Series('')
df_ds['Tipo puesto'] = pd.Series('')

In [12]:
df_da['Tipo puesto'] = 'Data Analyst'
df_ds['Tipo puesto'] = 'Data Scientist'

In [13]:
df = pd.concat([df_da, df_ds])

In [14]:
df = df.reset_index()

In [15]:
df.drop(columns = 'index', inplace=True)

In [16]:
df

,Nombre empresa,Puesto ofertado,Ubicación,Días activos,Nº Solicitudes,Nivel experiencia,Sector,Tipo jornada,Funciones laborales,Descripción,Tipo puesto
0,Amazon,Junior Data Analyst,Barcelona,6 horas,66,Sin experiencia,Software Servicios y tecnologías de la informa...,Jornada completa,Estrategia/planificación Análisis Tecnología d...,Description\n\nJunior Data Analyst\nWe are hir...,Data Analyst
1,Packlink.com,Business Data Analyst,Madrid,1 semana,638,Intermedio,Servicios y tecnologías de la información Logí...,Jornada completa,Negocios Tecnología de la información Análisis,Do you want to be a part of a fast-paced compa...,Data Analyst
2,Mutua Madrileña,Data Analyst,Madrid,2 semanas,3490,Algo de responsabilidad,Seguros,Jornada completa,Otro,Anunciado por\nAdriana Sánchez\nExperta Desarr...,Data Analyst
3,Lookiero,Data Analyst,Respaldiza,2 semanas,3374,Intermedio,Sector textil,Jornada completa,Ingeniería Tecnología de la información,Anunciado por\nElena Martín\nTalent Acquisitio...,Data Analyst
4,YEGO,Junior Data Analyst,Barcelona,3 días,1122,Sin experiencia,Software Marketing y publicidad Transporte por...,Jornada completa,Ciencias Análisis Tecnología de la información,Mission\nAs a Junior Data Analyst you will sup...,Data Analyst
...,...,...,...,...,...,...,...,...,...,...,...
995,Page Personnel,Java Developer - International Telecommunicati...,Barcelona,3 meses,23,Sin experiencia,Servicios y tecnologías de la información Dota...,Jornada completa,Ingeniería Tecnología de la información,Java Developer - International Telecommunicati...,Data Scientist
996,Siemens Gamesa,Data Engineer - Digital Ventures Lab (f/m/x),Sarriguren,3 días,49,Sin experiencia,Construcción Dotación y selección de personal ...,Jornada completa,Tecnología de la información,It takes the brightest minds to be a technolog...,Data Scientist
997,Barcelona Supercomputing Center,Quantum algorithms researcher (R3),Barcelona,1 semana,77,Algo de responsabilidad,Servicios y tecnologías de la información Soft...,Jornada completa,Investigación Análisis Tecnología de la inform...,Context and Mission\n\nThe Quantic group is a ...,Data Scientist
998,Grupo Digital,Data Engineer / Data Integration PowerCenter,Barcelona,3 días,33,Sin experiencia,Servicios y tecnologías de la información Soft...,Jornada completa,Tecnología de la información,Seleccionamos para importante compañia del sec...,Data Scientist
999,Universitat Pompeu Fabra - Barcelona,Data Analyst UPF-La Caixa - Full Time Research...,Barcelona,2 días,406,Sin experiencia,Enseñanza superior Investigación Biotecnología,Jornada completa,Tecnología de la información,The Department of Economics and Business at Un...,Data Scientist

### Gráficos:

In [17]:
df[df['Tipo puesto']=='Data Scientist'].groupby

,Nombre empresa,Puesto ofertado,Ubicación,Días activos,Nº Solicitudes,Nivel experiencia,Sector,Tipo jornada,Funciones laborales,Descripción,Tipo puesto
500,Amazon,Data Scientist,Barcelona,2 días,749,no_data,Software Servicios y tecnologías de la informa...,Jornada completa,Ingeniería Tecnología de la información,Description\n\nWe are looking for a Data Scien...,Data Scientist
501,Zurich Insurance Company Ltd,Data Scientist,Barcelona,11 horas,180,Intermedio,Seguros Servicios financieros,Jornada completa,Estrategia/planificación,The purpose of Zurich is...\n\nWhat are we loo...,Data Scientist
502,El Corte Inglés,Data Engineer,Madrid,1 semana,2011,Algo de responsabilidad,Venta al por menor Artículos de consumo Servic...,Jornada completa,Consultoría Ingeniería Tecnología de la inform...,Si lo que buscas es una empresa innovadora y l...,Data Scientist
503,WIRIS,Data Engineer,Barcelona,1 semana,305,Algo de responsabilidad,Software,Jornada completa,Tecnología de la información,Anunciado por\nJulia Abad Castelló\nTalent Acq...,Data Scientist
504,MANGO,Data Scientist,Palau-solità,7 horas,215,Algo de responsabilidad,Venta al por menor,Jornada completa,Análisis Negocios Tecnología de la información,Buscamos un/a Data Scientist para que se incor...,Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...
995,Page Personnel,Java Developer - International Telecommunicati...,Barcelona,3 meses,23,Sin experiencia,Servicios y tecnologías de la información Dota...,Jornada completa,Ingeniería Tecnología de la información,Java Developer - International Telecommunicati...,Data Scientist
996,Siemens Gamesa,Data Engineer - Digital Ventures Lab (f/m/x),Sarriguren,3 días,49,Sin experiencia,Construcción Dotación y selección de personal ...,Jornada completa,Tecnología de la información,It takes the brightest minds to be a technolog...,Data Scientist
997,Barcelona Supercomputing Center,Quantum algorithms researcher (R3),Barcelona,1 semana,77,Algo de responsabilidad,Servicios y tecnologías de la información Soft...,Jornada completa,Investigación Análisis Tecnología de la inform...,Context and Mission\n\nThe Quantic group is a ...,Data Scientist
998,Grupo Digital,Data Engineer / Data Integration PowerCenter,Barcelona,3 días,33,Sin experiencia,Servicios y tecnologías de la información Soft...,Jornada completa,Tecnología de la información,Seleccionamos para importante compañia del sec...,Data Scientist
999,Universitat Pompeu Fabra - Barcelona,Data Analyst UPF-La Caixa - Full Time Research...,Barcelona,2 días,406,Sin experiencia,Enseñanza superior Investigación Biotecnología,Jornada completa,Tecnología de la información,The Department of Economics and Business at Un...,Data Scientist

In [73]:
puesto_da = pd.Series(' '.join(df_da['Puesto ofertado']).lower().split()).value_counts()[:30]

In [74]:
rem_word_puesto = ['-', 'and', 'analyst,', 'de', ',', '&', '–', 'provided)', '/', 'it']

for i in rem_word_puesto:
    if i in puesto_da:
        puesto_da = puesto_da.drop(i)

In [69]:
puesto_da = puesto_da.drop(puesto_da.index[6])

In [76]:
puesto_da = puesto_da[:12]

In [77]:
puesto_da

analyst       343
data          218
business      141
senior         70
analista       37
datos          35
digital        28
relocation     20
marketing      20
manager        16
junior         15
engineer       14
dtype: int64

In [54]:
puesto_ds = pd.Series(' '.join(df_ds['Puesto ofertado']).lower().split()).value_counts()[:30]

In [55]:
puesto_ds[0:20]

data          355
engineer      178
scientist     130
-             109
senior         88
researcher     75
science        30
big            28
lead           18
&              17
and            17
remote         15
analyst        14
learning       14
machine        12
de             12
/              11
for            11
analytics      11
in             11
dtype: int64

In [56]:
rem_word_puesto = ['-', 'and', '&', '–']

for i in rem_word_puesto:
    if i in puesto_ds:
        puesto_ds = puesto_ds.drop(i)

In [78]:
puesto_ds = puesto_ds[:12]

In [86]:
puesto_ds.index

Index(['data', 'engineer', 'scientist', 'senior', 'researcher', 'science',
       'big', 'lead', 'remote', 'analyst', 'learning', 'machine'],
      dtype='object')

In [89]:
# create trace1 
trace1 = go.Bar(
    x = puesto_da.index,
    y = puesto_da,
    name = 'Palabras puesto DA',
    marker = dict(color = 'rgba(255, 174, 255, 0.5)',
                 line = dict(color = 'rgb(0, 0, 0)', width = 1.5))
)

# Podemos ponerle el color de la línea de la barra.

trace2 = go.Bar(
    x = puesto_ds.index,
    y = puesto_ds.index,
    name = 'Palabras puesto DS',
    marker = dict(color = 'rgba(255, 255, 128, 0.5)',
                 line = dict(color = 'rgb(0, 0, 0)', width = 1.5))
)

data = [trace1, trace2]
layout = go.Layout(barmode = "group")
fig = go.Figure(data = data, layout = layout)
iplot(fig)

# Group quiere decir que ponga las barras separadas.

AttributeError: module 'plotly.validators.bar' has no attribute 'ErrorXValidator'